# API KEY de Geminis
GOOGLE_GEMINIS_API_KEY = ""

# Configura tu nombre y tu RTN que aparece en las facturas
# Con esto geminis identifica si la factura es de ingresos o gastos
RTN_PRINCIPAL = ""
NOMBRE_PRINCIPAL = ""