# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/

# IDE settings
.idea/
.vscode

# Environment variables
.env

# Carpetas no tiene que dar seguimiento
# Ignorar contenido de las carpetas
logs/**
src/cache/**


README.html

.installed
